
.detail-button{
    
    height: 50px;
    width: 350px;
    border-radius: 5px;
    font-size: 22px;
    color: red;
    background-color: white;
    font-family: Montserrat;
    border: 2px solid red;
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

.detail-button:hover{
    background-color: red;
    color: white;
    text-decoration: none;
}

.detail-button2{
    
    height: 50px;
    width: 350px;
    border-radius: 5px;
    font-size: 22px;
    color: #6C63FF;
    background-color: white;
    font-family: Montserrat;
    border: 2px solid #6C63FF;
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

.detail-button2:hover{
    background-color: #6C63FF;
    color: white;
    text-decoration: none;
}

.box{
    padding: 10px;
    box-shadow: 2px 1px 2px 2px #cecece;
}